.filter-table {
  padding: 0 15px;

  &__label {
    padding: 5px 0;
    font-weight: bold;
  }

  .el-input__inner {
    height: 35px;
    line-height: 35px;
  }

  .el-button {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__item, & .el-select {
    min-width: 150px;
    width: 100%;
    margin-bottom: 10px;

    &:first-child {
      margin-left: 0;
    }

    @media (min-width: 991px) {
      width: auto;
      min-width: 200px;
      margin: 0 10px;
    }
  }

  &__action-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 991px) {
      button {
        display: none;
      }
    }
  }

  &__action {
    min-width: 100px;
    float: right;
    
    &.el-button {
      display: none;

      &.\--show {
        display: block;
      }
    }

    @media (min-width: 991px) {
      display: inline-block;
    }

    .v-icon.v-icon {
      font-size: 16px;
      line-height: 16px;
    }

    &.\--create {
      & , .v-icon.v-icon {
        color: #fff;
      }
    }
  }

  &__group-search {
    background-color: #f0f6fa;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__top {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item-container {
    display: none;
    width: 100%;

    &.\--show {
      display: block;
    }

    @media (min-width: 991px) {
      width: auto;

      & , &.\--show {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    @media (min-width: 991px) {
      margin-bottom: 0;
    }
  }
}