.m-setting-user {
  position: relative;
  &__header {
    border-bottom: 1px solid #e2e2e2;
  }

  &__form {
    padding: 0 15px;
  }

  &__select {
    display: block;
    width: 100%;

    .el-input__prefix, .el-input__suffix {
      height: 40px;
      top: 40px;
    }

    .el-select__tags {
      top: 75% !important;
    }
  }

  &__benhvien {
    padding: 15px 0;
    border-top: 1px solid #e2e2e2;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding:15px;
    z-index: 9999;
    border-top: 1px solid #e2e2e2;
  }

  &__content {
    max-height: calc(100% - 80px);
    overflow: hidden scroll;

    &::-webkit-scrollbar-thumb {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      width: 5px;
    }
  }

  .el-drawer {
    width: 70% !important;
  }

  &__data {
    padding:50px 15px 0 15px;
  }
}
