.page-khao-sat {
  min-height: calc(100vh - 48px);
  background-color: #e2e2e2;
  padding: 0 15px;

  &__pagination {
    padding: 15px 0;
  }

  &__step-form {
    width: 100%;
  }

  &__content {
    padding: 25px 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: -1px 3px 3px #e2e2e2;
  }

  &__btn {
    padding: 5px;

    i {
      font-size: 14px !important;
    }
  }
}